/* Font setup */
.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --brand-color: #008080;
  --font-color: #333333;
  --background-color: #ffffff;
  --pc-page-side-padding: 4rem;
  --pc-section-top-padding: 6rem;
  --pc-section-bottom-padding: 2rem;
  --pc-section-side-padding: 0rem;
  --border-size: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  background-color: var(--background-color);
  color: var(--font-color);
  scroll-behavior: smooth;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem var(--pc-page-side-padding);
    background-color: var(--background-color);
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
    nav {

      ul {
        list-style-type: none;
        display: flex;
        align-items: center;

        li {

          a {
            display: inline-block;
            text-decoration: none;
            color: var(--font-color);
            padding: 0.5rem 0.75rem;
            font-weight: 500;
            border: var(--border-size) solid transparent;
            transition: all 0.3s ease;

            &:hover {
              color: var(--brand-color);
              border-bottom-color: var(--brand-color);
              transform: translateY(-4px)
            }
          }
        }
      }
    };
  }

  section {
    padding: var(--pc-section-top-padding) var(--pc-page-side-padding) var(--pc-section-bottom-padding);
  }

  #hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    height: 100vh;

    img {
      width: 15rem;
      height: auto;
      border-radius: 20px;
    }

    .overrall-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 2rem;

      p:first-child {
        background-color: var(--brand-color);
        color: var(--background-color);
        padding: 0.5rem 1.25rem;
        border-radius: 20px;
        animation: cloud 2s infinite;
      }
      
      h1 {
        text-transform: uppercase;
        
        .highlight {
          color: var(--brand-color)
        }
      }
  

      .cta {
        display: flex;
        gap: 1.25rem;

        a {
          padding: 0.75rem 1rem;
          border-radius: 30px;
          background-color: var(--brand-color);
          border: 1px solid var(--brand-color);

          &:first-child {
            color: var(--background-color);
          }

          &:last-child {
            background-color: var(--background-color);
            border: var(--border-size) solid var(--font-color);
          }
        }
      }

      .social {
        display: flex;
        gap: 1.25rem;

        a {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          border: var(--border-size) solid var(--font-color);

          &:nth-child(-n + 2) {
            border: var(--border-size) solid var(--brand-color);
            color: var(--brand-color);
          }
        }
      }
    }
  }
}

@keyframes cloud {
  0%, 100% {
    transform: translateY(10px);
  }
  
  50% {
    transform: translateY(-10px);
    transform: scale(1.1);
  }
}